@import "variables";

// Modules
@import "modules/scrollable";
@import "modules/cards";
@import "modules/intro";
@import "modules/animation";

// Partials
@import "partials/mixins";
@import "partials/global";
@import "partials/typography";
@import "partials/layout";
@import "partials/header";
@import "partials/panel";
@import "partials/modals";
@import "partials/staticpages";
