<% if (zone.audio) { %>
    <span class="audio-control playing">Pause Audio</span>
    <audio preload="none">
        <% _.each(zone.audio.files, function(file) { %>
            <source src="<%= mediaPath %><%= file.file %>?c=<%= audioCacheBuster %>" type="<%= file.type %>" />
        <% }); %>
    </audio>
<% } %>
