<div class="overlay" style="display:none">
    <div class="cards">
        <div class="card card-fullimage">
            <div class="card-header">
                <a data-navigate="close" class="left">&times;</a>
            </div>
            <div class="card-visual fullsize" style="background-image: url('<%= path %>');">
            </div>
        </div>
    </div>
</div>
