@keyframes drawerReveal {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
}

@keyframes drawerHide {
    to {
        opacity: 0;
        transform: translateY(100%);
    }
}
