.modal-scrim {
    cursor: default;

    > .zone-panel {
        position: absolute;
        bottom: 0;
        flex: none;
        width: 100%;
        z-index: 10000;
        transition: height 300ms ease-in;

        &.-orienter {
            height: 90%;
        }

        &.-tour {
            height: 100%;
        }
    }

    &.-enter > .zone-panel {
        transform: translateY(100%);
    }

    &.-enter-active > .zone-panel {
        transform: translateY(0);
        transition: transform 300ms ease-in;
    }

    &.-exit > .zone-panel {
        transform: translateY(0);
    }

    &.-exit-active > .zone-panel {
        transform: translateY(100%);
        transition: transform 300ms ease-in;
    }
}
