.zone-tour {
    > .tour-figure {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: flex-start;

        > .image {
            width: 100%;
            height: auto;
        }

        > .caption {
            margin: 2.4rem;
            font-size: 4rem;
            font-weight: 400;
            line-height: 1.5;
        }
    }
}
