// Partial: Layout

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 2;
    overflow: auto;

    > .page {
        background: #555;
        height: 100%;
        width: 100%;
        overflow: auto;
        display: none;
        position: absolute;
        top: 0;
        left: 0;

        &.active {
            display: block;
            z-index: 10;
        }
        &.page-map {
            background: #b6cfe9;
        }

        .overlay {
            background: rgba(0,0,0,.75);
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            @include cards();
        }
    }
}