// Partials: Left Panel

.menu-link {
    position: absolute;
    top: 8px;
    left: 12px;
    color: white;
    cursor: pointer;
    opacity: 0.75;
    transition: $transition;
    height: 55px;
    width: 55px;

    .page-map & {
        i {
            background-color: #060623;
        }
    }

    i {
        font-size: 3.3rem;
        border-radius: 4px;
        transition: $transition;

    }

    @media screen and #{$screen-xs}, #{$screen-sm}, #{$screen-md} {
        top: 5px;
        left: 8px;
    }

    &:hover, &:active {
        color: white;
        opacity: 1;
        text-decoration: none;
    }

    .page-static & {
        color: black;
        float: left;
        top: 5px;
        opacity: 0.5;
        transition: #{$transition};

        &:hover {
            opacity: 1;
        }

        i {
            font-size: 2.8rem;
            line-height: 3.2rem;
        }
    }
}

#drawers {
    background: #333;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;

    > .menu {
        position: absolute;
        top: 0;
        right: auto;
        bottom: 0;
        left: auto;
        width: 265px;
        height: auto;
        left: 0;
        z-index: 1;

        ul {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            list-style: none;
            margin: 0;
            padding: 0;

            &.bottom {
                bottom: 0;
                top: auto;
            }

            li {
                &.header {
                    color: white;
                    font-size: 2.1rem;
                    font-weight: 500;
                    padding: 20px 25px 10px;
                    font-family: $sec-font-family;
                    font-size: 1.8rem;
                    font-weight: 400;
                    text-align: center;
                    > img {
                        max-width: 12rem;
                        padding: 1rem;
                    }
                }
                &.divider {
                    border-bottom: 1px solid #666;
                    width: 200px;
                    margin: 0 0 0 25px;
                }

                a {
                    color: white;
                    font-size: 1.6rem;
                    font-weight: 100;
                    display: block;
                    padding: 18px 28px;

                    &:hover {
                        text-decoration: none;
                        background: rgba(255,255,255,0.1);
                    }

                    > span.glyphicon {
                        margin-right: 8px;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}

#progress {
    background-color: #C7E3EE;
    border-radius: 4px;
    color: #463737;
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    top: 8px;
    right: 12px;
    padding: 12px 10px;
    transition: $transition;

    @media screen and #{$screen-xs}, #{$screen-sm}, #{$screen-md} {
        top: 5px;
        right: 8px;
    }

    span {
      padding: 5px 10px;
    }
}

#compass {
    background-color: #060623;
    border-radius: 50px;
    color: #fff;
    position: absolute;
    right: 40px; bottom: 40px;
    width: 50px;
    height: 50px;
    opacity: .75;

    svg {
        fill: white;
        width: 40px;
        height: 40px;
        margin:5px 0 0 5px;
    }
}
