@mixin cards() {
    .cards {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 15px rgba(0,0,0,0.75);

        .card {
            @include card();

            &.card-fullimage {
                > .card-header,
                > .card-footer {
                    border: none;
                    box-shadow: none;

                    a {
                        color: $wr-blue;
                    }
                }
            }

            > .card-header {
                height: 44px;
                padding: 10px;
                position: absolute;
                width: 100%;
                top: 0;
                z-index: 9;

                a {
                    padding: 2px;
                    color: white;
                    cursor: pointer;

                    &.left {
                        float: left;
                    }
                    &.right {
                        float: right;
                    }
                    &[data-navigate="close"] {
                        font-size: 3.6rem;
                        padding: 0px 8px;
                        font-weight: 700;
                        line-height: 1;
                    }

                    > span.glyphicon {
                        font-size: 2.1rem;
                        line-height: 1.4;
                        padding: 0 2px;
                    }
                }
            }
            > .card-visual {
                height: 100%;
                width: 100%;
                background: #000;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                top: 0;
                position: absolute;

                &.fullsize {
                    height: 100%;

                    @media screen and #{$screen-xs}, #{$screen-sm}, #{$screen-md} {
                        height: 100%;
                    }

                    h2 {
                        top: 40%;
                        bottom: auto;
                        margin: 25px 0 0;
                    }
                    h4 {
                        top: 40%;
                        bottom: auto;
                    }
                }

                h2 {
                    position: absolute;
                    bottom: 15%;
                    text-align: center;
                    width: 100%;
                    margin: 25px 0 0;
                    color: white;
                    font-family: $sec-font-family;
                    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.35), 0 2px 0 rgba(0,0,0,.5);
                }
                h4 {
                    position: absolute;
                    bottom: 15%;
                    text-align: center;
                    width: 100%;
                    margin: 0 0 40px;
                    color: white;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0.9px;
                    font-size: 1.6rem;
                    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.35), 0 2px 0 rgba(0,0,0,.5);

                    &:before, &:after {
                        content: '\00a0\2014\00a0';
                    }
                }
            }
            > .card-content {
                &.with-footer {
                    bottom: 56px;
                }
                width: 100%;
                bottom: 0px;
                position: absolute;
                overflow: auto;
                padding: 20px;
                background-color: rgba(255, 255, 255, 0.8);

                h4 {
                    font-size: 1.8rem;
                    font-weight: 700;
                    text-align: center;

                    @media screen and #{$screen-xs} {
                        font-size: 1.6rem;
                    }
                }
                p {
                    font-size: 1.6rem;
                    font-weight: 300;
                    line-height: 2.4rem;

                    @media screen and #{$screen-xs} {
                        font-size: 1.4rem;
                        line-height: 2.1rem;
                    }
                }
            }
            > .card-footer {
                height: 56px;
                width: 100%;
                bottom: 0;
                border-top: 1px solid #EEE;
                position: absolute;
                display: table;
                table-layout: fixed;
                border-collapse: separate;
                overflow: hidden;
                background-color: rgba(255, 255, 255, 0.9);

                a {
                    text-align: center;
                    display: block;
                    padding: 15px 0 17px;
                    color: $wr-blue;
                    font-weight: 700;
                    float: none;
                    display: table-cell;
                    width: 1%;

                    &:first-child:not(:last-child) {
                        border-right: 1px solid #EEE;
                    }
                }

                a.link-disabled {
                    color: $wr-gray;
                }
            }
        }
    }
}

@mixin card() {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    -webkit-transition: .6s ease-in-out all;
    transition: .6s ease-in-out all;

    &.next,
    &.prev {
        z-index: 9;
    }
    &.active {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        z-index: 10;
    }
    &.next {
        -webkit-transform: translate3d(125%,0,0);
        transform: translate3d(125%,0,0);
    }
    &.prev {
        -webkit-transform: translate3d(-125%,0,0);
        transform: translate3d(-125%,0,0);
    }
}
