@mixin cards() {
    .cards {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000;
        box-shadow: 0 0 15px rgba(0,0,0,0.75);

        .card.introcard {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: black;
            z-index: 5500;

            .alignment-message {
                position: absolute;
                z-index: 100;
                width: 100%;
                background-color: #123030;
                padding: 15px 10px;
                font-size: 20px;
                color: white;
                font-weight: bold;
            }
        }

        .card-header {
            position: absolute;
            z-index: 100;
            width: 100%;
            background-color: black;
            padding: 15px 10px;
            font-size: 20px;
            color: white;
            font-weight: bold;

            .audio-control {
                padding: 5px;
                border: 2px solid white;
                margin: 7px;
                display: inline-block;
            }

            .close-deck {
                float: right;
                text-align: right;
                font-size: 30px;
                padding: 5px 10px;
                cursor: pointer;
                &:hover {
                    opacity: .5;
                }
            }

            .alignment-message {
                width: 100%;
                height: calc(100% + 2px);
                position: absolute;
                background-color: black;
                color: white;
                background-color: #123030;
                padding: 15px 10px;
                font-size: 20px;
                top:0;
                left:0;
            }
        }

        .instructions {
            width: 100%;
            bottom: 0px;
            position: absolute;
            overflow: auto;
            padding: 20px;
            z-index: 12;
            background-color: rgba(255, 255, 255, 0.8);
        }

        .card {
            @include card();

            &.card-fullimage {
                > .card-header,
                > .card-footer {
                    border: none;
                    box-shadow: none;

                    a {
                        color: $wr-blue;
                    }
                }
            }

            .instructions {
                width: 100%;
                bottom: 0px;
                position: absolute;
                overflow: auto;
                padding: 20px;
                z-index: 13;
                background-color: rgba(255, 255, 255, 0.8);
            }

            > .card-visual {
                height: 100%;
                width: 100%;
                background: #000;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                top: 0;
                position: absolute;

                &.fullsize {
                    height: 100%;

                    @media screen and #{$screen-xs}, #{$screen-sm}, #{$screen-md} {
                        height: 100%;
                    }

                    h2 {
                        top: 40%;
                        bottom: auto;
                        margin: 25px 0 0;
                    }
                    h4 {
                        top: 40%;
                        bottom: auto;
                    }
                }

                h2 {
                    position: absolute;
                    bottom: 15%;
                    text-align: center;
                    width: 100%;
                    margin: 25px 0 0;
                    color: white;
                    font-family: $sec-font-family;
                    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.35), 0 2px 0 rgba(0,0,0,.5);
                }
                h4 {
                    position: absolute;
                    bottom: 15%;
                    text-align: center;
                    width: 100%;
                    margin: 0 0 40px;
                    color: white;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0.9px;
                    font-size: 1.6rem;
                    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.35), 0 2px 0 rgba(0,0,0,.5);

                    &:before, &:after {
                        content: '\00a0\2014\00a0';
                    }
                }

                .flex {
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-direction: row;
                    flex-direction: row;
                    height: 100%;

                    video {
                        display: none;
                    }

                    .poster {
                        height: 100%;
                        width: 100%;
                        display: -webkit-flex;
                        -webkit-flex-direction: column;
                        -webkit-align-items: center;
                        -webkit-justify-content: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }

                    .poster-inner {
                        display: -webkit-flex;
                        -webkit-flex-direction: column;
                        display: flex;
                        flex-direction: column;
                    }

                    .poster-inner img {
                        width: 100%;
                        z-index: 10;
                    }

                    .poster-inner .controls {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 11;
                        top: calc(50% - 70px);
                        left: calc(50% - 70px);

                        i {
                            font-size: 100px;
                        }
                    }
                }
            }
            > .card-content {
                &.with-footer {
                    bottom: 56px;
                }
                width: 100%;
                bottom: 0px;
                position: absolute;
                overflow: auto;
                padding: 20px;
                background-color: rgba(255, 255, 255, 0.8);

                h4 {
                    font-size: 1.8rem;
                    font-weight: 700;
                    text-align: center;

                    @media screen and #{$screen-xs} {
                        font-size: 1.6rem;
                    }
                }
                p {
                    font-size: 1.6rem;
                    font-weight: 300;
                    line-height: 2.4rem;

                    @media screen and #{$screen-xs} {
                        font-size: 1.4rem;
                        line-height: 2.1rem;
                    }
                }
            }
            > .card-message {
                color: #fff;
                font-size: 2em;
                margin-top: 25%;
                position: absolute;
                text-align: center;
                width: 100%;

                #finish-zone {
                  background-color: coral;
                  border-radius: 10px;
                  cursor: pointer;
                  margin: 30px auto 0 auto;
                  padding: 10px;
                  text-align: center;
                  width: 20%;
                }
            }

            > .card-footer {
                height: 56px;
                width: 100%;
                bottom: 0;
                border-top: 1px solid #EEE;
                position: absolute;
                display: table;
                table-layout: fixed;
                border-collapse: separate;
                overflow: hidden;
                background-color: rgba(255, 255, 255, 0.9);

                a {
                    text-align: center;
                    display: block;
                    padding: 15px 0 17px;
                    color: $wr-blue;
                    font-weight: 700;
                    float: none;
                    display: table-cell;
                    width: 1%;

                    &:first-child:not(:last-child) {
                        border-right: 1px solid #EEE;
                    }
                }

                a.link-disabled {
                    color: $wr-gray;
                }
            }

            .historic-context {
                color: white;
                padding: 25% 10%;
                font-size: 20px;
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}

@mixin card() {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    -webkit-transition: .6s ease-in-out all;
    transition: .6s ease-in-out all;

    &.next,
    &.prev {
        z-index: 9;
    }
    &.first {
        z-index: 13;
    }
    &.active {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        z-index: 10;
    }
    &.next {
        -webkit-transform: translate3d(125%,0,0);
        transform: translate3d(125%,0,0);
    }
    &.next.second {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    &.prev {
        -webkit-transform: translate3d(-125%,0,0);
        transform: translate3d(-125%,0,0);
    }
    &.prev.first {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        z-index: 13;
    }
    &.active.first {
        z-index: 13;
    }
}

.icon-swipe {
    width: 25px;
    margin-top: -10px;
    margin-right: 10px;
}

.alignment-background {
    background-color: #F6F4E8 !important;
}
