html {
    --compass-rotation: 0deg;
    --device-offsetX: 0;
    --device-offsetY: 0;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.illustration {
    display: flex;
    flex: none;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    align-self: stretch;
    height: 50vh;
    background-color: #efefef;

    > .device,
    > .target {
        position: absolute;
        width: 120px;
        height: 180px;
        border: 4px solid black;
        border-radius: 2px;
    }

    > .target {
        border-style: dashed;
        transform: translate(var(--device-offsetX), var(--device-offsetY));
    }

    > .device {
        border-style: solid;
        background-color: black;
        transform: translate(var(--device-offsetX), var(--device-offsetY));

        &.-on {
            background-color: gold;
        }
    }
}

.data {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    width: 400px;
    margin-top: 100px;
    font-size: 56px;
    font-weight: bold;
    text-align: left;

    > .dimension {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 1em;

        > .value {
            text-align: right;
        }
    }
}
